.card
  position: absolute
  bottom: -74px
  left: 64px
  background-color: $color-white
  box-shadow: 0px 0px 8px 3px rgba(34, 60, 80, 0.2)
  padding-top: 23px
  padding-bottom: 30px
  border-radius: 4px
  width: 297px

  &__container
    margin: 0 auto
    text-align: center
    width: 183px

  &__text
    position: relative
    font-size: 12px
    font-weight: 600
    padding-bottom: 7px
    margin: 0 auto
    margin-bottom: 14px
    border-bottom: 1px solid $color-black
    letter-spacing: -0.2px
    line-height: 23px
    width: 114px

  &__img
    background: rgba(1, 153, 109, 0.2)
    margin: 0 auto
    margin-bottom: 10px
    border-radius: 50%

  &__description
    font-size: 11px
    margin-bottom: 23px
    letter-spacing: -0.4px

  &__title
    font-family: $font-second
    font-size: 16px
    font-weight: 700
    margin-bottom: 16px
    line-height: 25px
