.link
  display: flex
  padding: 0 4px
  justify-content: center
  align-items: center
  text-align: center
  background-color: $color-green
  font-size: 18px
  line-height: 28px
  font-weight: 500
  color: $color-white
  border-radius: 4px

  &--menu
    width: 183px
    min-height: 51px

  &--header,
  &--product
    width: 227px
    min-height: 65px

  &--story
    width: 240px
    min-height: 65px
    font-weight: 400
    font-size: 17px
