.menu
  padding: 17px 0
  background-color: $color-white
  border-bottom: 1px solid $color-grey

  &__container
    display: flex
    padding-right: 74px

  &__logo
    margin-top: 13px
    margin-right: 172px

  &__nav
    padding-top: 13px
    margin-right: auto
