.product
  padding-top: 120px
  padding-bottom: 242px

  &__wrap
    display: flex
    padding-left: 125px

  &__innerwrap
    width: 584px

  &__img
    margin-right: 87px

  &__text
    margin-bottom: 9px
    font-weight: 600
    font-size: 22px
    line-height: 40px
    letter-spacing: -1px

  &__title
    margin-bottom: 19px
    font-family: $font-second
    font-size: 50px
    line-height: 79px
    color: $color-green

  &__description
    margin-bottom: 29px
    font-size: 18px
    line-height: 31px
    letter-spacing: -0.4px
