.story
  background-color: $color-dark-green
  padding-top: 229px
  padding-bottom: 177px

  &__container
    padding-left: 0
    width: 1518px

  &__wrap
    display: flex

  &__innerwrap
    padding-top: 81px
    margin-right: 12px
    width: 600px

  &__title
    font-family: $font-second
    font-size: 50px
    font-weight: 700
    color: $color-white
    margin-bottom: 33px
    line-height: 79px

  &__text
    font-size: 22px
    color: $color-white
    margin-bottom: 55px
    letter-spacing: -0.1px
    line-height: 40px

  &__video
    position: relative
    background: url("img/story-video-mask.png") no-repeat, url("img/story-video-bg.jpg") no-repeat
    border-radius: 17px
    width: 896px
    height: 516px

    &::after
      content: ""
      position: absolute
      top: 217px
      left: calc(50% - 41px)
      background: url("img/play-icon.svg")
      width: 81px
      height: 81px
